/* Variables */
:root {
  --basic-red: #EE3643;
  --hover-red: #CA2C37;
  --active-red: #BA2732;
  --basic-green: #63A63E;
  --success: #5FBB2D;
  --special-greenlight: #8ED78F;
  --rectangle-button: #518534;
  --basic-grey: #3D546F;
  --active-grey: #A9A9A9;
  --border-grey: #EAEAEA;
  --basic-greylight: #C5C5C5;
  --button-grey: #888888;
  --pagination-grey: #E5E5E5;
  --basic-background: #F1F5F7;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-yellowlight: #FFD180;
  --activeblue: #1D2739;
  --warning: #FFBF47;
  --error: #BA2732;
  --special: #663d15;
  --darkblue: #293449;
  --grey-blue: #32425C;
  --rectangle: rgba(0, 0, 0, 0.25);
  --cream: #F9F5F0;
  --special-cream: #F7F3EC;
  --white: #ffffff;
  --black: #000000;
  --dark-bottom: #212A3A;
}

/* Global */

body{
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", Arial, sens-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden{
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

/* Main navigation */

.main-header{
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
}

.main-navigation {
  color: var(--white);
  background-color: var(--darkblue);
}

.logo{
  background-color: var(--basic-red);
  color: var(--white);
}

/*search*/

.search{
  background-image: url("img/icons/Search.svg");
}

.search-input{
  background-color: var(--darkblue);
  color: var(--white);
}

.search-input::placeholder {
  color: var(--white);
}

.search-input:focus{
  background-color: var(--white);
  color: var(--black);
}

/*main navigation*/

.main-navigation-link {
  color: var(--white);
}

.main-navigation-link:active {
  color: var(--basic-greylight);
}

.basket-full{
  background-color: var(--basic-red);
}

.link-order{
  background-color: var(--basic-green);
}

.link-order:hover{
  background-color: var(--success);
}

.link-order:active{
  color: var(--basic-greylight);
}

/*about company*/

.about-company {
 font-style: italic;
 font-size: 16px;
 line-height: 23px;
 color: var(--basic-red);
}

.adress{
  font-size: 14px;
  line-height: 24px;
}

.phone{
  font-weight: bold;
  font-size: 21px;
  width: 270px;
  height: 45px;
  line-height: 30px;
  color: var(--basic-red);
}

/*enter*/

.enter-link{
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
  color: var(--black);
}

.enter-link:hover{
  color: var(--basic-red);
}

.enter-link:active{
  color: var(--basic-greylight);
}

.enter-catalog{
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
  color: var(--black);
}

.enter-catalog:active{
  color: var(--basic-greylight);
}

.under-account{
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-blue);
}

.under-account:hover{
  color: var(--basic-red);
}

.under-account:active{
  color: var(--basic-greylight);
}

/* User navigation */

.button{
background-color: var(--basic-red);
color: var(--white);
}

.site-navigation{
  width: 940px;
  height: 60px;
  background-color: var(--grey-blue);
  text-align: center;
  display: inline;

}

.site-navigation li {
  background-color: var(--grey-blue);
  display: inline;
}

.site-navigation li:hover{
  background-color: var(--darkblue);
}

.site-navigation li:active{
  background-color:var(--activeblue);
  color: var(--basic-greylight);
}

.site-navigation a {
  list-style: none;
  color: var(--white);
}

.site-navigation a:active {
  color: var(--basic-greylight);
}

/*breadcrumbs*/

.breadcrumbs {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a{
 color: var(--black);
}

.section-catalog{
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  color: var(--grey-blue);
  width: 940px;
  height: 89px;
}

.slider h3{
  font-family: Cuprum;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slider p{
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.slider a{
  font-size: 14px;
  line-height: 18px;
}

.button{
  background-color: var(--basic-red);
  color: var(--white);
}

.button:hover{
  background-color: var(--hover-red);
}

.button:active{
  background-color: var(--active-red);
}

.slider-button{
  list-style: none;
}

.button slider-link{
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
}


.offers{
 list-style: none;
 font-family: Cuprum;
 font-weight: bold;
 font-size: 24px;
 line-height: 30px;
}

.offers li{
  width: 300px;
  height: 123px;
}

.offers h3{
 font-family: Cuprum;
 font-weight: bold;
 font-size: 24px;
 line-height: 30px;
 color: var(--white);
}

.offer-link{
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.offers a:hover{
  background-color: var(--basic-greylight);
}

.offers a:active{
  background-color: var(--active-grey);
}

.materials-offer{
 background-color: var(--special-yellow);
}

.tools-offer{
 background-color: var(--special-blue);
}

.tech-offer{
 background-color: var(--special-lilac);
}

.discount-offer{
 background-color: var(--special-greenlight);
}

.delivery-offer{
  background-color: var(--special-yellow);
}

.section-header {
  text-transform: uppercase;
  background-color: var(--cream);
}

.section-header h2{
font-family: Cuprum;
font-size: 30px;
line-height: 30px;
}

/* Filters */

.cream{
  background-color: var(--special-cream);
}

.filters{
  line-height: 18px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter-section{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-brands{
  font-size: 15px;
  line-height: 19px;
}

.input-price{
font-size: 17px;
}

/*sorting*/

.sorting-section{
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
}

.sorting-button li{
  list-style: none;
   padding: 0;
   margin: 0;
  }

.sorting-item a{
 color:  var(--basic-greylight);
 text-decoration: underline dotted var(--basic-red);
}

.sorting-item a:hover{
  color: var(--black);
  text-decoration: underline solid var(--basic-red);
}

.sorting-item a:active{
  color: var(--basic-red);
  text-decoration: none;
}

.sorting-item-current a{
color: var(--basic-red);
text-decoration: none;
}


/* catalog */

.new{
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--white);
}

.products-list {
  list-style: none;
  display: inline;
  padding: 4px;
  border: 1px solid var(--border-grey);
  width: 220px;
  height: 318px;
  text-align: center;
}

.products-list h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.products-list s{
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--active-grey)
}

.products-list a{
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.products{
  border: 1px solid var(--border-grey);
}

.price{
font-family: PT Sans;
font-weight: bold;
font-size: 17px;
line-height: 18px;
background-color: var(--basic-red);
color: var(--white);
}

.button-buy{
font-family: Cuprum;
font-size: 14px;
line-height: 18px;
color: var(--white);
background-color: var(--basic-green);
align-items: center;
text-align: center;
text-transform: uppercase;
box-shadow: inset 0px -3px 0px #367315;
border-radius: 2px;
}

.button-buy:hover{
  background-color: var(--success);
}

.button-buy:active{
  background-color: var(--rectangle-button);
}

.button-saved{
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--grey-blue);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
}

.button-saved:hover{
border: 3px solid var(--grey-blue);
box-sizing: border-box;
border-radius: 2px;
}

.button-saved:active{
color: var(--button-grey);
border: 3px solid var(--button-grey);
box-sizing: border-box;
border-radius: 2px;
}

/*popular-brands*/

.popular-brands{
 list-style: none;
 text-align: center;
 display: inline;
}

.popular-brands{
   border: 1px solid var(--border-grey);
}

.popular-brands li:hover{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));

}

.popular-brands li:active{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  opacity: 0.5;
}

/*service*/

.service{
background-color: var(--basic-background);
}

.service h2{
font-family: Cuprum;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
}

.service-button{
  list-style: none;
}

.service-button button{
  display: inline;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--grey-blue);
  color: var(--white);
}

.service-button button:hover{
  background-color: var(--darkblue);
}

.service-button button:disabled{
  background-color: var(--white);
  color: var(--grey-blue);
}

/*comapany*/
.index-columns h2{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-list{
font-family: Cuprum;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
/*pagination*/

.pagination-list {
  list-style: none;
  line-height: 18px;
}

.pagination-item a {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--pagination-grey);
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item a:hover {
  border: 1px solid var(  --basic-greylight);
}

.pagination-item a:active{
  border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active{
  color: var(--white);
  background-color: var(--basic-red);
}

/*perforator*/

.perforator{
  background-color: var(--basic-background);
}

.perforator h2{
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.perforator p{
font-family: PT Sans;
font-size: 13px;
line-height: 24px;
}

/*footer*/
.page-footer{
font-family: Cuprum;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: var(--white);
background-color: var(--grey-blue);
}

.footer-logo{
  background-color: var(--basic-red);
  color: var(--white);
}

.main-footer{
  list-style: none;
  display: inline;
}

.main-footer a{
  color: var(--white);
}

.main-footer a:hover{
text-decoration: underline;
}

.main-footer a:active{
  color: var(--basic-background);
  opacity: 0.5;
  text-decoration: none
}

.yellow-footer a{
  color: var(--special-yellowlight);
}

.yellow-footer a:active{
  color: var(--special-yellowlight);
  opacity: 0.5;
  text-decoration: none
}

.footer-phone{
  color: var(--white);
}

.bottom-footer{
  font-size: 16px;
  line-height: 18px;
  background-color: var(--darkblue);
}

/*social*/

.footer-social li{
  list-style: none;
  background-color: var(--dark-bottom);
}


.footer-social li:hover
.footer-social li:active{
  list-style: none;
  background-color: var(--active-red);
}

.footer-social a{
  color: var(--white);
}

.mailto{
color: var(--special-yellowlight);
}

.mtor {
color: var(--special-yellowlight);
}

.mailto:hover,
.creator:hover {
  text-decoration: underline;
}

.mailto:active,
.creator:active{
  color: var(--active-red);
  text-decoration: none;
}
